language: android
jdk: oraclejdk8

before_install:
  - sudo apt-get update
  - sudo apt-get install -y mono-runtime

android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.3
    - android-29
    - extra

after_script:
    - cat app/build/reports/lint-results*.xml
