name: "simlar-android-ci"
on:
  schedule:
    - cron: '0 3 * * *'
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Setup java 8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Cache dependencies
      id: cache-dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle
        key: ${{ runner.os }}-dependencies

    - name: Build app
      run: ./gradlew --no-daemon --warning-mode all clean build connectedCheck

    - name: Save artifacts
      uses: actions/upload-artifact@v2
      with:
        name: static code analysis
        retention-days: 5
        if-no-files-found: ignore
        path: |
          app/build/reports/dependency-check-report.html
          app/build/reports/lint-results*.xml
